<table>
    <tr>
        <th>ID</th>
        <th>Name</th> 
        <th>Price</th>
        <th>Qty</th>
        <th>Created</th>
        <th>Modified</th>
    </tr>
    <tr>
        <% @products.each do |p| %>
            <td>
                <%= p.id %>
            </td>
            <td>
                <%= p.name %>
            </td>
            <td>
                <%= p.price %>
            </td>
            <td>
                <%= p.qty %>
            </td>
            <td>
                <%= p.created_at %>
            </td>
            <td>
                <%= p.updated_at %>
            </td>
        <% end %>
    </tr>
</table>