<!DOCTYPE html>
<html>
  <head>
    <title>OpenBillRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

    <div>
      <a href="/product">Product</a> | <a href="/order">Order</a>
    </div>
       
    <div class="container">
    <%= yield %>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
